$red: #ff1b25;
$color: #EF5B32;
$fontGR: "Graublau Slab Pro";



body {
  font-size: 16px;
  position: relative;
  letter-spacing: 1px;
  background: #fff;
  font-family: 'SF Pro Text', sans-serif;
  line-height: 1.4;

  // &:after {
  //     z-index: 99999;
  //     content: "";
  //     position: absolute;
  //     left: 0;
  //     bottom: 0;
  //     right: 0;
  //     top: 0;
  //     background: rgba(255, 255, 255, 1);
  //     transition: all .8s ease;
  // }
  &.loaded {
    &:after {
      opacity: 0;
      visibility: hidden;
    }
  }
}

html,
body {}

#__layout {
  overflow: hidden;
  min-height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
}

p {
  margin: 0 0 1em;
}

a {
  color: #000;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: #000;
  }
}


.inner-page {
  letter-spacing: -0.01em;

  a {
    color: #B37E56;
  }
}

.fancybox-slide>.modal {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.6);
}

.modal {
  display: none;
  padding: 30px 30px;
  max-width: 460px;
  min-width: 340px;

  form {
    button {
      display: block;
      width: 100%;
      border: none;
      color: #fff;
      outline: none;
      background: rgba(0, 0, 0, .7);
      border-radius: 5px;
      font-size: 28px;
      padding: 10px;
      cursor: pointer;
      position: relative;
      transition: all .3s ease;

      &:hover {
        background: rgba(0, 0, 0, 1);
      }
    }
  }

  .form-group {
    input {
      //  height: 42px;
    }

    textarea,
    input {
      background: rgba(0, 0, 0, .1);
      padding-left: 10px;
      font-size: 20px;
    }
  }

  .form-title {
    // font-size: 14px;
    color: #000; //  margin-bottom: 10px;
    font-size: 28px;
  }
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d0e9c6;
  color: #3c763d;
}

.alert {
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 2px solid transparent;
  border-radius: .25rem;
  text-align: center;
}

.alert-warning {
  background-color: #fcf8e3;
  border-color: #faf2cc;
  color: #8a6d3b;
}

.alert-danger {
  background-color: #f2dede;
  border-color: #ebcccc;
  color: #a94442;
}

.in-error {
  border-color: red !important;
}

.mask-site {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  z-index: 1990;
  background: 0 0;
  transition: all .2s ease-in-out;
}

.o-hide .mask-site {
  background: rgba(0, 0, 0, .4);
}

.loder {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background: rgba(255, 255, 255, .5);
    z-index: 100;
  }
}

.mob-nav {
  display: none;
}

.btn-def {
  display: inline-block;
  background: #845235;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 1;
  position: relative;
  border: none;
  overflow: hidden;
  transition: all .5s;
  outline: none;
  font-weight: 600;
  padding: 18px 23px;
  cursor: pointer;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: #996A4D;
    width: 200%;
    height: 600%;
    transition: all .5s;
    transform: rotate(45deg) translate(-50%, 140%);
  }

  span {
    position: relative;
    z-index: 1;
  }

  &:hover {
    &:before {
      transform: rotate(45deg) translate(-50%, 12%);
    }
  }

  &.btn-l {
    background: #E6E0DC;

    color: #855235;

    &:before {
      background: #E5D6CA;
    }

    &:hover {
      color: #996A4D;
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, .1);
    }
  }

  &:hover {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .3);
  }
}

body .btn-line {
  display: inline-block;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 1;
  position: relative;
  color: #855235;
  border: 2px solid #855235;
  overflow: hidden;
  transition: all .5s;
  outline: none;
  font-weight: 600;
  padding: 20px 30px;
  cursor: pointer;

  &:hover {
    color: #996A4D;
    border-color: #996A4D;
  }
}

a.btn-def {
  color: #fff;
}

input,
button,
select,
optgroup,
textarea {}

.form-group {
  margin-bottom: 8px;

  .form-control {
    border: 1px solid #DCDDDD;
    border-radius: 0;
    color: #232528;
    transition: all .4s ease;
    outline: none;
    box-shadow: none;
    height: 48px;
    line-height: 48px;

    &:focus {
      border-color: #525354;
    }
  }

  textarea.form-control {
    line-height: 1.4;
    height: 96px;
    resize: none;
  }
}


.text-center {
  text-align: center;
}


.c-modal {

  .fancybox-close-small {
    width: 34px;
    height: 34px;
    background: #EAEAEA;
  }

  .fancybox-close-small:after {
    font-size: 30px;
    color: #ACACAC;
    top: 2px;
    right: 0px;
    width: 34px;
    height: 34px;
    background: none;
  }

  .fancybox-close-small:hover:after {
    color: #000;
    background: none;
  }

  .alert {
    text-align: center;
  }
}



.btn {
  cursor: pointer;
}

button {
  outline: none !important;
}

/* Custom animation */

.fancybox-fx-material.fancybox-slide--previous,
.fancybox-fx-material.fancybox-slide--next {
  transform: translateY(-60px) scale(1.1);
  opacity: 0;
}

.fancybox-fx-material.fancybox-slide--current {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.align-items-center {
  align-items: center;
}



.text-inner {
  font-size: 20px;
  line-height: 1.3;

  b {
    font-weight: 900;
  }
}


// .page-enter-active,
// .page-leave-active {
//   transition: opacity .5s;
// }

// .page-enter,
// .page-leave-active {
//   opacity: 0;
//   transform: scale(0);
// }

.main-wrap {
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
}

.content {
  position: static !important;

  &:before,
  &:after {
    z-index: 1000;
  }

}

.page-enter-active,
.page-leave-active,
.page-enter-active::before,
.page-enter-active::after,
.page-leave-active::before,
.page-leave-active::after {
  transition: transform 350ms cubic-bezier(.17, .67, .54, .98);
}

.page-enter-active::before,
.page-leave-active::before {
  content: '';
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  // background: url(~assets/bg-transition_parts.png) repeat-y left center;
  z-index: 1000;
}

.page-enter-active::before {
  //  left: -417px;
}

.page-leave-active::before {
  //  right: -417px;
}

.page-enter-active::after,
.page-leave-active::after {
  content: '';
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #845235;
  z-index: 9999;
}

.page-leave::before {
  transform: translate(-10 0%, 0) scaleX(-1);
}

.page-leave-to::before {
  transform: scaleX(-1);
}

.page-leave::after {
  transform: translate(-100%, 0);
}

.page-enter-to::before,
.page-enter-to::after {
  transform: translate(100%, 0);
}



.hidden {
  display: none;
}

.main-text-list {
  margin-bottom: 110px;
}

.main-img {
  height: calc(var(--vh, 1vh) * 100);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  position: relative;
  width: 100%;
  transition: all .4s ease;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, .6);
    z-index: 1;
  }



  .bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .main-text {
    max-width: 900px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 3;
  }

  .main-text-list {
    position: relative;
    bottom: -2%;
  }

  .text {
    font-weight: 300;
    line-height: 1.4;
    font-size: 26px;
    //   margin-bottom: 20px;
  }



}

.slide0 {
  .bg-img {}
}

.main-text-list {

  .owl-next,
  .owl-prev {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);

    &:before {
      content: "";
      display: block;
      width: 18px;
      height: 18px;
      border-bottom: 4px solid #fff;
      border-right: 4px solid #fff;
    }
  }

  .owl-next {
    right: 5%;

    &:before {
      transform: rotate(-45deg);
    }
  }

  .owl-prev {
    left: 5%;

    &:before {
      transform: rotate(135deg);
    }
  }
}

.heading1 {
  font-family: 'Graublau Slab Pro';
  font-weight: 300;
  font-size: 72px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: normal;
}

.heading2 {
  font-family: 'Graublau Slab Pro';
  font-weight: 300;
  line-height: 1;
  font-size: 48px;
  text-transform: uppercase;
  color: #855235;
  margin-bottom: 20px;
  letter-spacing: normal;

  &.line-b {
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 32px;

    &:before {
      content: "";
      position: absolute;
      width: 48px;
      height: 4px;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0);
      background: #E5E0DC;
    }
  }
}

.section1 {

  .text1 {
    max-width: 870px;
    margin-left: auto;
    margin-right: auto;
  }
}

.text1 {
  font-weight: 300;
  line-height: 1.4;
  font-size: 26px;
  letter-spacing: -0.01em;
  color: #111111;
}

.container {
  max-width: 1312px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  padding-top: 24px;
  color: #fff;

  a {
    color: #fff;
  }

  .container {
    max-width: 1580px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    >div {
      display: flex;
      align-items: center;
    }
  }

  .logo {
    margin-right: 41px;

    a {
      display: block;
    }

    svg {
      width: 108px;
      height: 64px;
      fill: #fff;
    }
  }

  .main-nav {
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      align-items: center;
      font-weight: 500;
    }

    li {
      margin: 0 15px;
    }

    a {
      color: #fff;
      position: relative;
      display: inline-block;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 0;
        transition: all .3s ease;
        height: 2px;
        background: #fff;
      }

      &:hover,
      &.nuxt-link-exact-active {
        &:before {
          width: 100%;
        }
      }
    }

    .count {
      display: inline-block;
      width: 20px;
      height: 20px;
      background: #fff;
      border-radius: 50%;
      font-size: 14px;
      color: #B37E56;
      text-align: center;
      line-height: 20px;
      font-weight: 500;
    }
  }
}

.soc-list {
  display: flex;
  align-items: center;

  svg {
    width: 22px;
    height: 22px;
    fill: #fff;
  }

  a {
    display: block;
    margin: 0 6px;
    height: 22px;

    &:hover {
      animation: draggable 400ms ease;
    }
  }
}

.loaded {
  .scaleIn {
    animation: scaleIn 20s ease;
    animation-delay: .1s;
    animation-fill-mode: both;
  }
}

.main-img {
  overflow: hidden;

  .scaleFadeIn {
    animation: scaleFadeIn 1s ease;
    //  animation-delay: .2s;
    animation-fill-mode: both;
  }

  .scaleFadeOut {
    animation: scaleFadeOut 1s ease;
    // animation-delay: .1s;
    animation-fill-mode: both;
  }

  .heading1,
  .text,
  .btns {
    opacity: 0;
    transform: translate(0, 30px);
    transition: all .6s ease;
    transition-delay: .2s;
  }

  .text {
    transition-delay: .3s;
  }

  .btns {
    transition-delay: .4s;
  }

}

.owl-item.active {

  .heading1,
  .text,
  .btns {
    opacity: 1;
    transform: translate(0, 0px);
  }
}






.top-phone {
  margin-left: 32px;
  font-weight: 500;
}

.burger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  position: relative;
  z-index: 5;
  border-radius: 50%;
  padding: 8px;
  border: 1px solid rgba(255, 255, 255, .4);
  margin-left: 56px;
  transition: all .4s ease;

  span {
    display: block;
    width: 70%;
    height: 2px;
    margin-bottom: 5px;
    background: #fff;
    transition: all .4s ease;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &:hover {
    background: #fff;

    span {
      background: #000;
    }
  }
}


.list-text-img {
  display: flex;

  >div {
    width: 50%;
    max-width: 50%;
    min-width: 50%;
  }

  .img {
    img {
      max-width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .list-wrap {
    padding: 15px 25px;
    display: flex;
    justify-content: center;
    align-items: center;

    .list {
      max-width: 420px;
    }

    .item {
      margin-bottom: 72px;
    }

    .num {
      font-weight: 600;
      line-height: 14px;
      font-size: 12px;
      letter-spacing: -0.01em;
      color: #B37E56;
      display: inline-block;
      position: relative;
      margin-bottom: 20px;

      &:before {
        content: "";
        position: absolute;
        left: calc(100% + 14px);
        width: 24px;
        height: 7px;
        top: 50%;
        transform: translate(0, -50%);
        background: #E5E0DC;
      }
    }

    .title {
      font-family: "Graublau Slab Pro";
      font-size: 32px;
      line-height: 1.1;
      color: #855235;
      margin-bottom: 18px;
    }

    .text {
      letter-spacing: -0.01em;
      color: #616161;
      line-height: 1.6;
    }
  }
}


.section {
  margin-bottom: 96px;
}

.section3 {
  .list-wrap {}
}

.black-box {
  background: #000;
  color: #fff;
  padding: 110px 140px;
  margin-right: -15px;
  margin-left: -15px;

  .num {
    font-weight: 300;
    line-height: 1;
    font-size: 48px;
    color: #B37E56;
    margin-bottom: 15px;
  }

  .item {
    margin-bottom: 30px;
  }

  .text {
    line-height: 1.4;
    letter-spacing: -0.01em;
  }

  .list {
    margin-bottom: -30px;
  }

  >.row {
    align-items: flex-end;
  }

  .title2 {
    font-size: 21px;
    letter-spacing: -0.01em;
    line-height: 1.4;
    margin-bottom: 30px;
  }
}


.main-bg {
  height: 800px;
  display: flex;
  align-items: center;
  background-position: center;
  background-size: cover;


}

.wrap-text-slide {
  width: 530px;
  padding: 70px;
  background: #fff;

  .title {
    font-weight: 300;
    line-height: 1;
    font-size: 40px;
    text-transform: uppercase;
    color: #855235;
    font-family: "Graublau Slab Pro";
    margin-bottom: 22px;
  }

  .text {
    font-size: 19px;

    p:last-child {
      margin-bottom: 0;
    }
  }

  .owl-nav {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 32px;
    color: #B27E56;
    line-height: 1;
    background: #fff;
  }

  .disabled {
    color: #CCCCCC !important;
  }

  .owl-prev {
    margin-right: 18px;
  }

  .wr {
    position: relative;
  }
}


.text-slide,
.main-text-list {
  display: block !important;
  opacity: 1 !important;
}


.w-text-slide {
  position: relative;

  .wrap-container {
    position: absolute;
    pointer-events: none;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;

    .wrap-text-slide {
      pointer-events: all;

    }
  }
}


.s-nav {
  position: absolute;
  top: 10px;
  right: -10px;
  display: flex;

  .s-next,
  .s-prev {
    margin: 0 10px;
    cursor: pointer;

    &:before {
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      border-bottom: 2px solid #B37E56;
      border-right: 2px solid #B37E56;
    }

    &.ds {
      opacity: .5;
      cursor: default;
    }
  }

  .s-next {
    &:before {
      transform: rotate(-45deg);
    }
  }

  .s-prev {
    &:before {
      transform: rotate(135deg);
    }
  }
}


.tt {
  text-transform: uppercase;
}

.heading25 {
  font-size: 40px;
  font-family: $fontGR;
  color: #855235;
  line-height: 1.2;
  letter-spacing: normal;

  span {
    color: #000;
  }
}

.heading3 {
  font-size: 32px;
  font-family: $fontGR;
  color: #855235;
  line-height: 1;
  margin-bottom: 16px;
  letter-spacing: normal;
}

.heading4 {
  font-size: 26px;
  font-family: $fontGR;
  color: #855235;
  line-height: 1.2;
  margin-bottom: 16px;
  letter-spacing: normal;
}

.main-text-bottom {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #E6E0DC;

  .heading3 {
    line-height: 1.2;
  }

  .text {
    margin-bottom: 24px;
  }

  .btn {
    margin-top: 8px;
  }
}


.footer {
  background: #000;
  color: #fff;
  padding: 70px 0;

  .footer-line1 {
    display: flex;
    justify-content: space-between;
  }

  .f-nav {
    display: flex;
    width: 50%;
    justify-content: space-between;

    ul {
      padding: 0;
      list-style: none;

      li {
        margin-bottom: 12px;
      }
    }

    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  a {
    color: #fff;

  }
}

.f-phone {
  margin-bottom: 32px;

  a {
    font-weight: 300;
    line-height: 1;
    font-size: 36px;
    color: #B37E56;

  }
}

.copy {
  font-size: 14px;
  letter-spacing: -0.01em;
  opacity: 0.4;
  margin-top: 30px;
}


.f-soc-list {
  a {
    display: inline-block;
    margin: 0 3px;
  }

  svg {
    width: 24px;
    height: 24px;
    fill: #fff;
  }

  .insta,
  .facebook {
    transform: scale(.7);
  }
}


.m-buttons {
  position: fixed;
  z-index: 500;
  right: 32px;
  bottom: 16px;
}

.m-btn {
  display: block;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  justify-content: center;
  background: #000;
  border-radius: 50%;
  transition: all .3s ease;

  .num {
    position: absolute;
    font-size: 12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    background: #B37E56;
    right: -5px;
    top: -5px;
    color: #fff;
  }

  svg {
    width: 24px;
    height: 24px;
    fill: #fff;
    transition: all .3s ease;
  }

  &:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .5);

    svg {
      transform: scale(1.1);
    }

  }
}

.fav-btn {}

.phone-btn {
  background: #855235;
}


.fancybox-slide--current {
  .modal-nav {
    .modal-bg {
      &:after {
        width: 0;
      }
    }
  }

  .fadeInRight2 {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-delay: .1s;
  }
}

.modal-nav {
  display: flex;

  .fadeInRight2 {
    opacity: 0;
  }

  .modal-bg {
    width: 30%;
    background-size: cover;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      background: #fff;
      transition: all .5s ease;
      bottom: 0;
    }

  }

  .modal-content {
    padding: 100px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    a {
      outline: none !important;
    }
  }

  .nav-row {
    margin-bottom: 30px;


    ul {
      padding: 0;
      list-style: none;
      margin: 0;
      font-weight: 300;
      line-height: 1;
      font-size: 30px;
      color: #000000;
      font-family: "Graublau Slab Pro";
      letter-spacing: normal;

      li {
        margin-bottom: 15px;
      }

      a {
        position: relative;

        &:before {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0px;
          width: 0;
          transition: all .3s ease;
          height: 1px;
          background: #855235;
        }

        &:hover,
        &.nuxt-link-exact-active {
          color: #855235;

          &:before {
            width: 100%;
          }
        }
      }

      ul {
        font-family: 'SF Pro Text', sans-serif;
        margin-top: 20px;
        font-size: 16px;
        font-weight: normal;
        letter-spacing: normal;

        li {
          margin-bottom: 12px;
        }
      }
    }
  }

  .langs {
    position: absolute;
    bottom: 15px;
    left: 15px;

    a {
      margin-right: 22px;

      &.active {
        opacity: .5;
      }
    }
  }

  .row-contacts {
    .t {
      font-size: 14px;
      letter-spacing: -0.01em;
      color: #616161;
    }

    .adr {
      font-size: 16px;
      letter-spacing: -0.01em;
      font-weight: 500;
      color: #111111;
    }
  }

  .f-soc-list {
    svg {
      fill: #000;
    }
  }
}


/* Custom animation */
.fancybox-fx-material.fancybox-slide--previous,
.fancybox-fx-material.fancybox-slide--next {
  transform: translateY(-60px) scale(1.2);
  opacity: 0;
}

.fancybox-fx-material.fancybox-slide--current {
  opacity: 1;
  transform: translateY(0) scale(1);
}


.b-close {
  .fancybox-content {
    padding: 0;
    width: 90vw;

    max-width: 1500px;

    >div {
      min-height: 80vh;
    }
  }

  .fancybox-close-small {
    top: 20px;
    right: 20px;
    border-radius: 50%;
    border: 1px solid #D9D9D9;
    padding: 7px;
    transition: all .4s ease;
    outline: none !important;

    &:hover {
      background: rgba(0, 0, 0, .05);
    }
  }
}


.inner-bg {
  height: 60vh;
  background-size: cover;
  background-position: center;
  background-color: #855235;
  position: relative;
}

.inner-heading {
  width: 1088px;
  margin: 0 auto;
  padding: 76px;
  background: #fff;
  position: absolute;
  bottom: 0;
  transform: translate(-50%);
  left: 50%;

  &:before {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    content: "";
    width: 100px;
    height: 4px;
    background: #E5E0DC
  }

  .h1 {
    padding: 0;
    margin: 0;
    text-align: center;
    font-weight: 300;
    line-height: 1;
    font-size: 48px;
    text-transform: uppercase;
    color: #855235;
    font-family: "Graublau Slab Pro";
    letter-spacing: normal;

  }
}


.item-text {
  max-width: 320px;
  margin: 0 auto 60px;

  .title {
    font-family: "Graublau Slab Pro";
    line-height: 1.1;
    font-size: 32px;
    margin-bottom: 25px;
    color: #855235;
    letter-spacing: normal;
  }

  .text {
    line-height: 1.6;
    letter-spacing: -0.01em;
    color: #616161;
  }

  .btn {
    margin-top: 50px;
  }
}


.w100-img {
  img {
    width: 100%;
  }
}

.row-pb {
  >div {
    padding-top: 96px;
    padding-bottom: 96px;

    &.col-img {
      padding-top: 0;
      padding-bottom: 0;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  .col-bg {
    background: #F2EDE9;
  }

  .item-text {
    margin-bottom: 0;
  }
}

.ab-bg-img {
  max-height: 720px;
  overflow: hidden;

  img {
    object-fit: cover;
    max-height: 100%;
    display: block;
  }
}

.row-fix-mb {
  margin-bottom: -60px;
}


.item-nums {
  display: flex;

  .item {
    max-width: 192px;
    margin-right: 32px;
  }

  .num {
    font-size: 60px;
    text-transform: uppercase;
    line-height: 1;
    color: #B37E56;
    margin-bottom: 15px;
    font-weight: 300;
  }

  .text {}
}

.text {
  letter-spacing: -0.01em;
}

.a-center {
  display: flex;
  align-items: center;
}

.mb0 {
  margin-bottom: 0 !important;
}

.inner-text {
  font-weight: 300;
  line-height: 1.618;
  font-size: 26px;
  letter-spacing: -0.01em;
  color: #111111;
}

.inner-text-m {
  max-width: 870px;
  margin-left: auto;
  margin-right: auto;

  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.container2 {
  max-width: 1088px;
  margin-right: auto;
  margin-left: auto;
}


@media (min-width: 576px) {}

.black-header {
  .header {
    color: #111111;


    a {
      color: #111111;
    }
  }

  .header .logo svg {
    fill: #111111;
  }

  .soc-list svg {
    fill: #B37E56;
  }

  .burger {
    border: 1px solid rgba(0, 0, 0, 0.4);

    span {
      background: #111111;
    }
  }

  .header .main-nav .count {
    background: #B37E56;
    color: #fff;
  }

  .header .main-nav a:before {
    background: #111111;
  }
}





.def-page {


  .header {
    position: relative;
    margin-bottom: 80px;
  }


}

.main-wrap {
  display: flex;
  flex-direction: column;
  min-height: calc(var(--vh, 1vh) * 100);

  .footer {
    margin-top: auto;
  }
}


.heading3-dh {
  margin-bottom: 48px;
}

.list-news {
  .item {
    display: flex;
    margin-bottom: 15px;
    background: #F5F5F5;
  }

  .img {
    min-width: 45%;

    img {
      height: 100%;
      max-width: 100%;
      display: block;
      object-fit: cover;
    }
  }

  .info {
    padding: 40px 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }



  .title {
    line-height: 1.2;
    font-size: 26px;
    color: #855235;
    font-family: "Graublau Slab Pro";
    margin-bottom: 16px;
    letter-spacing: normal;

    a {
      color: #855235;
    }
  }

  .text,
  .introtext {
    line-height: 1.62;
    letter-spacing: -0.01em;
    color: #616161;
    margin-bottom: 19px;

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .more {
    a {
      display: inline-flex;
      font-weight: 600;
      line-height: 14px;
      font-size: 13px;
      text-transform: uppercase;
      color: #B37E56;
      position: relative;
      align-items: center;

      &:after {
        content: "";
        margin-left: 5px;
        height: 6px;
        width: 6px;
        margin-top: -2px;
        border-right: 1px solid #B37E56;
        border-bottom: 1px solid #B37E56;
        transform: rotate(-45deg);
      }

      &:before {
        content: "";
        position: absolute;
        bottom: -3px;
        left: 0;
        right: 0;
        height: 1px;
        background: #B37E56;
        opacity: 0.5;
      }
    }
  }
}

.n-date {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.01em;
  color: #9E9E9E;
  margin-bottom: 24px;
  display: flex;
  align-items: center;

  svg {
    width: 18px;
    height: 18px;
    margin-top: -3px;
    fill: #9E9E9E;
    margin-right: 8px;
  }
}


.error-page {
  min-height: calc(var(--vh, 1vh) * 100);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #855235;
    opacity: .9;
  }

  >* {
    position: relative;
    z-index: 2;
  }

  a {
    color: #fff;
  }
}

.error-logo {
  svg {
    width: 188.73px;
    height: 112px;
    fill: #fff;
  }
}

.error-info {
  padding-top: 40px;
  padding-bottom: 40px;
  max-width: 630px;

  .num {
    font-size: 72px;
    line-height: 1;
    margin-bottom: 10px;
  }

  .text {
    line-height: 1.4;
    font-size: 14px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    opacity: 0.7;
    margin-bottom: 32px;
  }

  .link {
    font-size: 18px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #FFFFFF;

    a {
      display: inline-block;
      border-bottom: 1px solid rgba(255, 255, 255, .4);

      &:hover {
        border-color: transparent;
      }
    }
  }
}

.error-b {
  .t1 {
    font-size: 14px;
    letter-spacing: -0.01em;
    opacity: 0.8;
    margin-bottom: 10px;
  }

  .er-ph {
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
  }

  .soc-list {
    justify-content: center;

    svg {
      width: 26px;
      height: 26px;
    }
  }
}


.howbuy-list {
  .item {
    margin-bottom: 15px;
    background: #F5F5F5;
    padding: 70px;

    >.row {
      align-items: center;
    }
  }

  .title {
    font-size: 26px;
    color: #855235;
    font-family: $fontGR;
    margin-bottom: 16px;
    line-height: 1.2;
    letter-spacing: normal;
  }

  .introtext {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.01em;
    color: #111111;
  }

  .text {
    font-size: 16px;
    letter-spacing: -0.01em;
    line-height: 1.6;
    color: #111111;
    padding-left: 30px;

    ul {
      padding-left: 20px;
      margin-bottom: 20px;
      margin-bottom: 5px;
    }

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  div {
    >ul {
      margin-bottom: 5px;
    }
  }

  h5 {
    font-size: 14px;
    letter-spacing: -0.01em;
    color: #616161;
  }
}

@media (min-width: 575px) {
  .cube-contacts {
    background: #855235;
    color: #fff;

    a {
      color: #fff;

    }
  }


}

.cube-contacts {
  padding: 56px;
  z-index: 10;

  .title {
    font-size: 32px;
    font-family: $fontGR;
    margin-bottom: 16px;
    letter-spacing: normal;
    line-height: 1.1;
  }

  .list {
    margin-bottom: 40px;

    .c-item {
      margin-bottom: 20px;
    }
  }

  svg {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;
    display: inline-block;
    vertical-align: middle;
    fill: #fff;
  }

  .c-item {
    padding-left: 32px;
    position: relative;



    a {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .c-phone {
    font-size: 20px;

    a {
      text-decoration: none;
    }
  }

}


.r-text-contacts {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  >div {
    transform: translate(0, -20px);
  }

  .heading4 {
    margin-bottom: 32px;
  }
}

.contact-map {
  height: 440px;
  margin-top: -50px;
}


.container3 {
  max-width: 864px;
  margin-left: auto;
  margin-right: auto;
}


.news-one {
  .heading25 {
    margin-bottom: 42px;
    text-transform: uppercase;
  }
}

.new-img {
  margin-bottom: 48px;

  img {
    max-width: 100%;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}

.def-text {
  letter-spacing: -0.01em;
  color: #111111;
  line-height: 1.618;
}

.def-text-grey {
  color: #616161;
}

.loadding {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #845235;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  transition: all .4s ease-out;
  opacity: 0;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  .line {
    position: relative;
    width: 300px;
    height: 2px;
    background: #7F4B2A;

    .line-inner {
      width: 0;
      transition: width .8s ease-out, opacity .2s ease-out;
      position: absolute;
      opacity: 1;
      top: 0;
      bottom: 0;
      left: 0;
      background: #fff;
    }
  }
}


.doc-list {
  .item {
    background: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 36px 48px;
    letter-spacing: -0.01em;
    margin-bottom: 16px;

    .l,
    .r {
      display: flex;
      // align-items: center;
    }

    svg {
      width: 20px;
      height: 20px;
      margin-bottom: -3px;
    }

    .ico-doc {
      margin-right: 17px;

      svg {
        fill: #B37E56;
      }
    }

    a {
      color: #B37E56;

      &:hover {
        text-decoration: underline;
      }
    }


    .t-dw {
      font-size: 14px;
    }

    .ico-dw {
      margin-right: 13px;

      svg {
        fill: #855235;
      }
    }
  }
}


.doc-wrap {
  margin-bottom: 48px;

  .heading3 {
    margin-bottom: 48px;
  }
}


.header-hodrabot {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 53px;

  .l {
    a {
      display: inline-block;
      margin-right: 21px;

    }

    svg {
      display: inline-block;
      vertical-align: middle;
      width: 18px;
      height: 18px;
      margin-top: -2px;
      margin-right: 6px;
      fill: #855235;
    }
  }

  .sd {
    line-height: 1;

    span {
      font-size: 40px;
    }
  }

  .r {}
}



.hod-list {
  .item {
    display: flex;
    margin-bottom: 15px;
    background: #F5F5F5;
  }

  .info {
    padding: 45px 48px;
    width: 53%;

  }

  .heading4 {
    margin-bottom: 16px;

    a {
      color: #855235;
    }
  }

  .count {
    display: flex;
    color: #9E9E9E;
    margin-bottom: 14px;

    .it {
      margin-right: 26px;
      display: flex;
    }

    .ico {
      position: relative;
      bottom: -1px;
      margin-right: 8px;
    }

    svg {
      width: 18px;
      height: 18px;
      fill: #9E9E9E;
    }
  }

  .text {
    color: #616161;
    line-height: 1.618;

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .img {
    width: 47%;
    position: relative;

    img {
      display: block;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    .plus {
      width: 48px;
      height: 48px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #fff;
      border-radius: 50%;
      cursor: pointer;

      &:before,
      &:after {
        content: "";
        position: absolute;
        background: #B27E56;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
      }

      &:before {
        height: 2px;
        width: 30%;
      }

      &:after {
        height: 30%;
        width: 2px;
      }
    }
  }
}


.bg-grey {
  background: #F7F7F7;
}


.fav-list {

  .row {
    >div {
      margin-bottom: 30px;
    }
  }

  .item {
    background: #ffffff;
    padding: 32px;
    display: flex;
    justify-content: space-between;
  }

  .l {
    width: 46%;
  }

  .info {
    padding-left: 28px;
  }

  table {
    font-size: 14px;
    color: #616161;

    td {
      padding-bottom: 8px;

      &:last-child {
        padding-left: 28px;
        font-weight: bold;
        font-size: 16px;
        color: #111111;
      }
    }
  }

  .img {
    margin-bottom: 16px;

    img {
      display: block;
      width: 100%;
    }
  }

  .del {
    font-size: 14px;

    a {
      display: inline-block;
      color: #9E9E9E;

      &:before {
        content: "×";
        margin-right: 4px;
        font-size: 20px;
      }
    }
  }
}


.bg-img-text {
  color: #fff;
  height: 480px;
  display: flex;
  text-align: center;
  padding: 48px;
  align-items: center;
  justify-content: center;

  .inner-text {
    max-width: 884px;
    color: #fff;

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.location-header {
  .heading3 {
    margin-bottom: 40px;
  }
}

.list-locations {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;

  .ico {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #F5F5F5;
    width: 64px;
    height: 64px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 16px;
    transition: all .3s ease;

    svg {
      width: 22px;
      height: 22px;
      fill: #9E9E9E;
      transition: all .3s ease;
    }
  }

  .active {
    .ico {
      background: #F2EDE9;
    }

    svg {
      fill: #B37E56;
    }
  }


  .item {
    margin: 0 20px;
    text-align: center;
    font-size: 14px;
    color: #111111;
    cursor: pointer;
  }
}


.location-map {
  height: 60vh;
}

body .mapboxgl-popup-content {
  padding: 10px 18px;
  border-radius: 0;
}

.mapboxgl-popup-tip {
  display: none !important;
}

.location-map {
  .mapboxgl-marker {
    // opacity: .5;
    background: url(https://web.park-residence.com.ua/assets/images/krug2.png) !important;


    &.active {
      background: url(https://web.park-residence.com.ua/assets/images/krug.png) !important;
    }

    &.main-marker {
      background: url(https://web.park-residence.com.ua/assets/images/main_ico.png) !important;
    }
  }
}




.def-modal {
  padding: 32px 24px;
  display: none;
}

.fancybox-inner {
  .def-modal {
    display: block;
  }
}

.callback-modal {
  max-width: 336px;


  .form {
    width: 208px;
    margin-left: auto;
    margin-right: auto;


    .btn {
      width: 100%;
      display: block;
    }
  }




}



.def-modal {
  .form {
    margin-bottom: 24px;
  }

  .text {
    font-size: 14px;
    color: #616161;
    margin-bottom: 16px;
  }

  .heading4 {
    margin-bottom: 8px;
  }
}

.writeUs-modal {
  min-width: 336px;
  text-align: center;

  .heading4 {
    margin-bottom: 16px;
  }
}

.soc-list-big {
  justify-content: center;
  font-size: 12px;

  a {
    height: inherit;
    margin: 0 8px;
    color: #000000;

    &:hover {
      animation: none;
    }
  }

  .ico {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    margin: 0 auto 8px;
    border-radius: 50%;
    background: #F2F2F2;

  }


  .telegram {
    fill: #0088CC;
  }

  .viber {
    fill: #59267C;
  }

  .messenger {
    fill: #0084FF;
  }
}


.alert {
  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.actions {
  display: none;
  max-width: 720px;

}

.modal-actions {
  .fancybox-content {
    padding: 0;
  }

  .info {
    letter-spacing: -0.01em;
    color: #111111;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 75%;
    padding: 48px;
    padding-right: 16%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.83) 52%, rgba(255, 255, 255, 0) 100%);
  }

  .heading4 {
    margin-bottom: 16px;
  }

  .text {
    line-height: 1.62;
  }

  .date {
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 20px;

    .ico {
      display: inline-block;
      vertical-align: middle;
      margin-right: 4px;
      position: relative;
      bottom: -1px;
    }

    svg {
      width: 16px;
      height: 16px;
      fill: #B37E56;
    }
  }
}


.list-hod {
  .full {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(0, 0, 0, .4);
    top: 16px;
    right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 14px;
      height: 14px;
      fill: #fff;
    }
  }

  .ico {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    svg {
      fill: #855235;
      width: 160px;
      height: 160px;
      opacity: .8;
      transition: all .3s ease;
    }
  }

  &:hover {
    .ico {
      svg {
        opacity: 1;
      }
    }
  }

  .owl-nav {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .owl-next,
  .owl-prev {
    width: 40px;
    height: 40px;
    background: rgba(17, 17, 17, 0.4) !important;
    border-radius: 50%;
    display: inline-block;
    margin: 0 4px;
    transition: all .3s ease;

    &:before {
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      margin: 0 auto;
      border-bottom: 2px solid #fff;
      border-right: 2px solid #fff;
      position: relative;
    }

    &.disabled {
      opacity: .5;
      cursor: default !important;
    }
  }

  .owl-next {

    &:before {
      left: -2px;
      transform: rotate(-45deg);
    }
  }

  .owl-prev {

    &:before {
      left: 1;
      transform: rotate(135deg);
    }
  }
}

.sections {
  //  height: calc(var(--vh, 1vh) * 100);
  background-color: #855235;
  user-select: none;
}

.visual-wrap {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.visual {
  min-height: calc(var(--vh, 1vh) * 100);
  position: relative;
  z-index: 0;

  .v-plan {
    opacity: 0;
    visibility: hidden;
    position: relative;
    z-index: 4;
    //    transition: all .2s linear;

    &.active {
      opacity: 1;
      visibility: visible;
    }
  }

  .img-plan {
    height: calc(var(--vh, 1vh) * 100);

    img {
      height: 100%;
      pointer-events: none;
    }
  }
}

.v-plan {
  .lb {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 29px;
    padding: 8px 26px;
    background: rgba(97, 97, 97, .9);
    color: #fff;
    line-height: 1.1;
    text-align: center;
    font-weight: 700;
    letter-spacing: -0.01em;

    &.active {
      background: #fff;

      .t {
        color: #855235;
      }

      span {
        color: #616161;
      }
    }

    .t {
      font-size: 13px;
      text-transform: uppercase;
    }

    span {
      font-size: 12px;
      opacity: 0.7;
    }
  }
}

.list360 {
  height: calc(var(--vh, 1vh) * 100);
  position: absolute;
  user-select: none;
  width: 100%;


  &.active {

    .item.active {
      opacity: 1;
      visibility: visible;
    }

    //  cursor: grab;
  }

  .item {
    pointer-events: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    // transition: all .1s ease;
    // display: none;

    img {
      //   width: 100%;
      height: 100%;
      //   object-fit: cover;
    }

    &.active {
      //@debug    display: block;
      //visibility: visible;
      //opacity: 1;
    }
  }
}

.visual {
  position: relative;
  letter-spacing: -0.01em;

  &:before,
  &:after {
    content: "";
    position: absolute;
    z-index: 5;
    pointer-events: none;
  }

  &:before {
    top: 0;
    left: 0;
    right: 0;
    height: 150px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0) 100%);
  }

  &:after {
    bottom: 0;
    left: 0;
    right: 0;
    height: 180px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.40) 100%);
  }
}


.visual-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 36px;
  z-index: 20;
  color: #fff;
  padding-left: 50px;
  padding-right: 50px;

  .line1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .heading2 {
    color: #fff;
    margin-bottom: 0;
  }

  a {
    color: #fff;
  }
}


.link-ico {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  letter-spacing: -0.01em;

  svg {
    fill: #fff;
    width: 20px;
    height: 20px;
  }

  .ico {
    height: 20px;
    margin-right: 10px;
  }
}

.ico-360 {
  height: 40px;
  position: relative;

  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    top: 50%;
    margin-top: -3px;
  }

  &:before {
    transform: rotate(135deg);
    left: -25px;
  }

  &:after {
    transform: rotate(-45deg);
    right: -23px;
  }

  svg {
    fill: #fff;
    width: 40px;
    height: 40px;
  }
}


.type-list {
  display: flex;
  font-size: 13px;
  border: 1px solid #fff;
  text-transform: uppercase;


  a {
    color: #fff;
    display: block;
    padding: 8px 12px;
    border-right: 1px solid #fff;
    transition: all .3s ease;
    font-weight: 600;

    &:last-child {
      border-right: none;
    }

    &.active {
      background: #fff;
      color: #855235;
    }
  }
}


.anim-img {
  position: relative;

  &:before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    background: #fff;
    transition: all .8s ease;
    transition-delay: .4s;
  }


  &.af {
    &:before {
      width: 0;
    }

  }
}
