$red: #ff1b25;
$color: #EF5B32;



body {
  font-size: 16px;
  position: relative;
  letter-spacing: 1px;
  background: #fff;
  font-family: 'SF Pro Text', sans-serif;
  line-height: 1.4;

  // &:after {
  //     z-index: 99999;
  //     content: "";
  //     position: absolute;
  //     left: 0;
  //     bottom: 0;
  //     right: 0;
  //     top: 0;
  //     background: rgba(255, 255, 255, 1);
  //     transition: all .8s ease;
  // }
  &.loaded {
    &:after {
      opacity: 0;
      visibility: hidden;
    }
  }
}

html,
body {
  height: 100%;
}

#__layout {
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

p {
  margin: 0 0 1em;
}

a {
  color: #000;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: #000;
  }
}

.fancybox-slide>.modal {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.6);
}

.modal {
  display: none;
  padding: 30px 30px;
  max-width: 460px;
  min-width: 340px;

  form {
    button {
      display: block;
      width: 100%;
      border: none;
      color: #fff;
      outline: none;
      background: rgba(0, 0, 0, .7);
      border-radius: 5px;
      font-size: 28px;
      padding: 10px;
      cursor: pointer;
      position: relative;
      transition: all .3s ease;

      &:hover {
        background: rgba(0, 0, 0, 1);
      }
    }
  }

  .form-group {
    input {
      //  height: 42px;
    }

    textarea,
    input {
      background: rgba(0, 0, 0, .1);
      padding-left: 10px;
      font-size: 20px;
    }
  }

  .form-title {
    // font-size: 14px;
    color: #000; //  margin-bottom: 10px;
    font-size: 28px;
  }
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d0e9c6;
  color: #3c763d;
}

.alert {
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 2px solid transparent;
  border-radius: .25rem;
  text-align: center;
}

.alert-warning {
  background-color: #fcf8e3;
  border-color: #faf2cc;
  color: #8a6d3b;
}

.alert-danger {
  background-color: #f2dede;
  border-color: #ebcccc;
  color: #a94442;
}

.in-error {
  border-color: red !important;
}

.mask-site {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  z-index: 1990;
  background: 0 0;
  transition: all .2s ease-in-out;
}

.o-hide .mask-site {
  background: rgba(0, 0, 0, .4);
}

.loder {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background: rgba(255, 255, 255, .5);
    z-index: 100;
  }
}

.mob-nav {
  display: none;
}

.btn-def {
  display: inline-block;
  background: #845235;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 1;
  position: relative;
  border: none;
  overflow: hidden;
  transition: all .5s;
  outline: none;
  font-weight: 600;
  padding: 20px 30px;
  cursor: pointer;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: #996A4D;
    width: 200%;
    height: 600%;
    transition: all .5s;
    transform: rotate(45deg) translate(-50%, 140%);
  }

  span {
    position: relative;
    z-index: 1;
  }

  &:hover {
    &:before {
      transform: rotate(45deg) translate(-50%, 12%);
    }
  }

  &.btn-l {
    background: #E6E0DC;

    color: #855235;

    &:before {
      background: #E5D6CA;
    }

    &:hover {
      color: #996A4D;
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, .1);
    }
  }

  &:hover {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .3);
  }
}

a.btn-def {
  color: #fff;
}

input,
button,
select,
optgroup,
textarea {}

.form-group {
  .form-control {
    border: 1px solid #C4C4C4;
    border-radius: 0;
    color: #232528;
    transition: all .4s ease;
    outline: none;
    box-shadow: none;

    &:focus {
      border-color: $color;
    }
  }
}


.text-center {
  text-align: center;
}


.c-modal {

  .fancybox-close-small {
    width: 34px;
    height: 34px;
    background: #EAEAEA;
  }

  .fancybox-close-small:after {
    font-size: 30px;
    color: #ACACAC;
    top: 2px;
    right: 0px;
    width: 34px;
    height: 34px;
    background: none;
  }

  .fancybox-close-small:hover:after {
    color: #000;
    background: none;
  }

  .alert {
    text-align: center;
  }
}



.btn {
  cursor: pointer;
}

button {
  outline: none !important;
}

/* Custom animation */

.fancybox-fx-material.fancybox-slide--previous,
.fancybox-fx-material.fancybox-slide--next {
  transform: translateY(-60px) scale(1.1);
  opacity: 0;
}

.fancybox-fx-material.fancybox-slide--current {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.align-items-center {
  align-items: center;
}



.text-inner {
  font-size: 20px;
  line-height: 1.3;

  b {
    font-weight: 900;
  }
}


// .page-enter-active,
// .page-leave-active {
//   transition: opacity .5s;
// }

// .page-enter,
// .page-leave-active {
//   opacity: 0;
//   transform: scale(0);
// }

.main-wrap {
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
}

.content {
  position: static !important;

  &:before,
  &:after {
    z-index: 1000;
  }

}

.page-enter-active,
.page-leave-active,
.page-enter-active::before,
.page-enter-active::after,
.page-leave-active::before,
.page-leave-active::after {
  transition: transform 350ms cubic-bezier(.17, .67, .54, .98);
}

.page-enter-active::before,
.page-leave-active::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  // background: url(~assets/bg-transition_parts.png) repeat-y left center;
  z-index: 1000;
}

.page-enter-active::before {
  //  left: -417px;
}

.page-leave-active::before {
  //  right: -417px;
}

.page-enter-active::after,
.page-leave-active::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #845235;
  z-index: 9999;
}

.page-leave::before {
  transform: translate(-10 0%, 0) scaleX(-1);
}

.page-leave-to::before {
  transform: scaleX(-1);
}

.page-leave::after {
  transform: translate(-100%, 0);
}

.page-enter-to::before,
.page-enter-to::after {
  transform: translate(100%, 0);
}



.hidden {
  display: none;
}

.main-img {
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  margin-bottom: 110px;

  .main-text {
    max-width: 900px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .main-text-list {
    position: relative;
    bottom: -2%;
  }

  .text {
    font-weight: 300;
    line-height: 1.4;
    font-size: 26px;
    margin-bottom: 20px;
  }

  .owl-next,
  .owl-prev {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);

    &:before {
      content: "";
      display: block;
      width: 18px;
      height: 18px;
      border-bottom: 4px solid #fff;
      border-right: 4px solid #fff;
    }
  }

  .owl-next {
    right: 5%;

    &:before {
      transform: rotate(-45deg);
    }
  }

  .owl-prev {
    left: 5%;

    &:before {
      transform: rotate(135deg);
    }
  }

}

.heading1 {
  font-family: 'Graublau Slab Pro';
  font-weight: 300;
  font-size: 72px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.heading2 {
  font-family: 'Graublau Slab Pro';
  font-weight: 300;
  line-height: 1;
  font-size: 48px;
  text-transform: uppercase;
  color: #855235;
  margin-bottom: 20px;

  &.line-b {
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 32px;

    &:before {
      content: "";
      position: absolute;
      width: 48px;
      height: 4px;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0);
      background: #E5E0DC;
    }
  }
}

.section1 {

  .text1 {
    max-width: 870px;
    margin-left: auto;
    margin-right: auto;
  }
}

.text1 {
  font-weight: 300;
  line-height: 1.4;
  font-size: 26px;
  letter-spacing: -0.01em;
  color: #111111;
}

.container {
  max-width: 1312px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  padding-top: 24px;
  color: #fff;

  a {
    color: #fff;
  }

  .container {
    max-width: 1580px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    >div {
      display: flex;
      align-items: center;
    }
  }

  .logo {
    margin-right: 41px;

    svg {
      width: 108px;
      height: 64px;
      fill: #fff;
    }
  }

  .main-nav {
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      align-items: center;
      font-weight: 500;
    }

    li {
      margin: 0 15px;
    }

    a {
      color: #fff;
      position: relative;
      display: inline-block;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 0;
        transition: all .3s ease;
        height: 2px;
        background: #fff;
      }

      &:hover {
        &:before {
          width: 100%;
        }
      }
    }

    .count {
      display: inline-block;
      width: 20px;
      height: 20px;
      background: #fff;
      border-radius: 50%;
      font-size: 14px;
      color: #B37E56;
      text-align: center;
      line-height: 20px;
      font-weight: 500;
    }
  }
}

.soc-list {
  display: flex;
  align-items: center;

  svg {
    width: 22px;
    height: 22px;
  }

  a {
    display: block;
    margin: 0 6px;
    height: 22px;

    &:hover {
      animation: draggable 400ms ease;
    }
  }
}


.top-phone {
  margin-left: 32px;
  font-weight: 500;
}

.burger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  position: relative;
  z-index: 5;
  border-radius: 50%;
  padding: 8px;
  border: 1px solid #5A5D64;
  margin-left: 56px;

  span {
    display: block;
    width: 70%;
    height: 2px;
    margin-bottom: 5px;
    background: #fff;

    &:last-child {
      margin-bottom: 0;
    }
  }
}


.list-text-img {
  display: flex;

  >div {
    width: 50%;
    max-width: 50%;
    min-width: 50%;
  }

  .img {
    img {
      max-width: 100%;
    }
  }

  .list-wrap {
    padding: 15px 25px;
    display: flex;
    justify-content: center;
    align-items: center;

    .list {
      max-width: 420px;
    }

    .item {
      margin-bottom: 72px;
    }

    .num {
      font-weight: 600;
      line-height: 14px;
      font-size: 12px;
      letter-spacing: -0.01em;
      color: #B37E56;
      display: inline-block;
      position: relative;
      margin-bottom: 20px;

      &:before {
        content: "";
        position: absolute;
        left: calc(100% + 14px);
        width: 24px;
        height: 7px;
        top: 50%;
        transform: translate(0, -50%);
        background: #E5E0DC;
      }
    }

    .title {
      font-family: "Graublau Slab Pro";
      font-size: 32px;
      line-height: 1.1;
      color: #855235;
      margin-bottom: 18px;
    }

    .text {
      letter-spacing: -0.01em;
      color: #616161;
      line-height: 1.6;
    }
  }
}


.section {
  margin-bottom: 96px;
}

.section3 {
  .list-wrap {}
}

.black-box {
  background: #000;
  color: #fff;
  padding: 110px 140px;

  .num {
    font-weight: 300;
    line-height: 1;
    font-size: 48px;
    color: #B37E56;
    margin-bottom: 15px;
  }

  .item {
    margin-bottom: 30px;
  }

  .text {
    line-height: 1.4;
    letter-spacing: -0.01em;
  }

  .list {
    margin-bottom: -30px;
  }

  .row {
    align-items: flex-end;
  }

  .title2 {
    font-size: 21px;
    letter-spacing: -0.01em;
    line-height: 1.4;
    margin-bottom: 30px;
  }
}


.main-bg {
  height: 800px;
  display: flex;
  align-items: center;
  background-position: center;
  background-size: cover;

  .wrap-text-slide {
    width: 530px;
    padding: 70px;
    background: #fff;

    .title {
      font-weight: 300;
      line-height: 1;
      font-size: 40px;
      text-transform: uppercase;
      color: #855235;
      font-family: "Graublau Slab Pro";
      margin-bottom: 22px;
    }

    .text {
      font-size: 19px;

      p:last-child {
        margin-bottom: 0;
      }
    }

    .owl-nav {
      position: absolute;
      right: 0;
      top: 0;
      font-size: 32px;
      color: #B27E56;
      line-height: 1;
      background: #fff;
    }

    .disabled {
      color: #CCCCCC !important;
    }

    .owl-prev {
      margin-right: 18px;
    }
  }
}

.heading3 {
  font-size: 32px;
  font-family: "Graublau Slab Pro";
  color: #855235;
  line-height: 1;
  margin-bottom: 16px;
}

.main-text-bottom {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #E6E0DC;

  .text {
    margin-bottom: 24px;
  }
}


.footer {
  background: #000;
  color: #fff;
  padding: 70px 0;

  .footer-line1 {
    display: flex;
    justify-content: space-between;
  }

  .f-nav {
    display: flex;
    width: 50%;
    justify-content: space-between;

    ul {
      padding: 0;
      list-style: none;

      li {
        margin-bottom: 12px;
      }
    }

    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  a {
    color: #fff;

  }
}

.f-phone {
  margin-bottom: 32px;

  a {
    font-weight: 300;
    line-height: 1;
    font-size: 36px;
    color: #B37E56;

  }
}

.copy {
  font-size: 14px;
  letter-spacing: -0.01em;
  opacity: 0.4;
  margin-top: 30px;
}


.f-soc-list {
  a {
    display: inline-block;
    margin: 0 3px;
  }

  svg {
    width: 24px;
    height: 24px;
    fill: #fff;
  }

  .insta,
  .facebook {
    transform: scale(.7);
  }
}


.m-buttons {
  position: fixed;
  z-index: 500;
  right: 32px;
  bottom: 16px;
}

.m-btn {
  display: block;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  justify-content: center;
  background: #000;
  border-radius: 50%;
  transition: all .3s ease;

  .num {
    position: absolute;
    font-size: 12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    background: #B37E56;
    right: -5px;
    top: -5px;
    color: #fff;
  }

  svg {
    width: 24px;
    height: 24px;
    fill: #fff;
    transition: all .3s ease;
  }

  &:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .5);

    svg {
      transform: scale(1.1);
    }

  }
}

.fav-btn {}

.phone-btn {
  background: #855235;
}


.modal-nav {
  display: flex;


  .modal-bg {
    width: 30%;
    background-size: cover;

  }

  .modal-content {
    padding: 100px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .nav-row {
    margin-bottom: 30px;


    ul {
      padding: 0;
      list-style: none;
      margin: 0;
      font-weight: 300;
      line-height: 1;
      font-size: 30px;
      color: #000000;
      font-family: "Graublau Slab Pro";

      li {
        margin-bottom: 15px;
      }

      a {
        position: relative;

        &:before {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0px;
          width: 0;
          transition: all .3s ease;
          height: 1px;
          background: #855235;
        }

        &:hover {
          color: #855235;

          &:before {
            width: 100%;
          }
        }
      }

      ul {
        font-family: 'SF Pro Text', sans-serif;
        margin-top: 20px;
        font-size: 16px;
        font-weight: normal;

        li {
          margin-bottom: 12px;
        }
      }
    }
  }

  .langs {
    position: absolute;
    bottom: 15px;
    left: 15px;

    a {
      margin-right: 22px;

      &.active {
        opacity: .5;
      }
    }
  }

  .row-contacts {
    .t {
      font-size: 14px;
      letter-spacing: -0.01em;
      color: #616161;
    }

    .adr {
      font-size: 16px;
      letter-spacing: -0.01em;
      font-weight: 500;
      color: #111111;
    }
  }

  .f-soc-list {
    svg {
      fill: #000;
    }
  }
}


/* Custom animation */

.fancybox-fx-material.fancybox-slide--previous,
.fancybox-fx-material.fancybox-slide--next {
  transform: translate(-100%);
  // opacity: 0;
}

.fancybox-fx-material.fancybox-slide--current {
  // opacity: 1;
  transform: translate(0%);
}


.b-close {
  .fancybox-content {
    padding: 0;
    width: 90vw;

    max-width: 1500px;

    >div {
      min-height: 80vh;
    }
  }

  .fancybox-close-small {
    top: 20px;
    right: 20px;
    border-radius: 50%;
    border: 1px solid #D9D9D9;
    padding: 7px;
  }
}
