@font-face {
    font-family: 'Graublau Slab Pro';
    src: url('../static/fonts/subset-GraublauSlab-Light.woff2') format('woff2'),
        url('../static/fonts/subset-GraublauSlab-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Graublau Slab Pro';
    src: url('../static/fonts/subset-GraublauSlab-Regular.woff2') format('woff2'),
        url('../static/fonts/subset-GraublauSlab-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('../static/fonts/subset-SFProText-Medium.woff2') format('woff2'),
        url('../static/fonts/subset-SFProText-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('../static/fonts/subset-SFProText-RegularItalic.woff2') format('woff2'),
        url('../static/fonts/subset-SFProText-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('../static/fonts/subset-SFProText-Light.woff2') format('woff2'),
        url('../static/fonts/subset-SFProText-Light.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('../static/fonts/subset-SFProText-Regular.woff2') format('woff2'),
        url('../static/fonts/subset-SFProText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('../static/fonts/subset-SFProText-Semibold.woff2') format('woff2'),
        url('../static/fonts/subset-SFProText-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}




