@media (max-width: 767px) {

  .section-fl {
    margin-bottom: 48px;
  }

  .section-fl-pad {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .howbuy-list {
    .wrap-t {
      margin-top: 16px;
    }
  }

  .heading25 {
    font-size: 36px;
  }



  .header-hodrabot {
    margin-bottom: 48px;
  }

  .r-text-contacts {
    margin-top: 48px;
    margin-bottom: 48px;
  }

  .inner-text {
    font-size: 22px;
  }

  .main-img .text p {
    display: none;
  }

  .modal-nav .modal-content {
    padding: 68px 32px;
  }


  .modal-nav .nav-row ul ul {
    font-size: 14px;
    padding-left: 12px;
  }

  .b-close .fancybox-close-small {
    border: none;
    top: 15px;
    right: 15px;
  }

  .inner-heading {
    left: 0;
    transform: none;
    width: 100%;
  }

  .row-pb {
    .item-text {
      margin-bottom: 30px;
    }

    >div {
      &:last-child {
        .item-text {
          margin-bottom: 0;
        }

      }
    }

  }

  .row-pb>div.col-img {
    margin-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .w100-img img {
    min-height: 320px;
    object-fit: cover;
  }

  .heading25 {
    font-size: 36px;
  }

  .header-hodrabot .sd span {
    font-size: 32px;
  }

  .doc-list .item .t-dw {
    display: none;
  }

  .doc-list .item .ico-dw {
    margin-right: 0;
  }

  .doc-wrap {
    .heading3 {
      margin-bottom: 24px;
      text-align: center;
    }
  }


  .list-news .info {
    padding: 34px 34px;
  }

  .list-news .title {
    font-size: 22px;
  }

  .list-news .introtext {
    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .list-news .info {
    max-width: 50%;
  }


  .n-date {
    margin-bottom: 16px;
  }

  .new-img {
    margin-bottom: 24px;
  }

  .list-hod .ico svg {
    width: 60px;
    height: 60px;
  }

  .howbuy-list .item {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .list-locations {

    .item {
      margin-right: 10px;
      margin-left: 10px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

    }
  }

  .section-fl-pad .heading3 {
    margin-bottom: 38px;
  }
}

@media (max-width: 667px) {
  .flat-grid {
    padding: 0;
    grid-template-areas:
      "f-back f-back "
      "f-btns f-btns"
      "f-info f-img"
      "f-price-btns f-price-btns"
      "f-links f-links";
  }

  .f-links {
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: -24px;

    >div {
      //   display: flex;
      justify-content: center;
      width: 50%;
      margin: 0 0 24px;
      text-align: center;

      //   flex-wrap: wrap;
      a {
        display: inline-block;
      }

      svg {
        display: block;
        margin: 0 auto 7px;

      }
    }
  }

  .section-fl-pad {
    padding-left: 24px;
    padding-right: 24px;
  }


}

@media (min-width: 576px) {

  .mob-btns,
  .hideMin675 {
    display: none;
  }

}

@media (max-width: 575px) {

  .wrap-list-flats2 {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 32px;

    .owl-nav {
      text-align: center;
      margin-top: 24px;
    }
  }

  .list-flats2 .owl-next,
  .list-flats2 .owl-prev {
    position: static;
    margin: 0 24px;
  }

  .section-fl-pad {
    padding-left: 15px;
    padding-right: 15px;
  }

  .list-locations {
    min-width: 500px;
    margin-bottom: 24px;

    .item {
      .title {
        display: none;
      }

      .ico {
        margin-bottom: 0;
      }

    }
  }

  .list-locations-wrap {
    overflow-x: auto;
    margin-right: -15px;
    margin-left: -15px;
  }

  .howbuy-list {
    .wrap-t {
      margin-top: 16px;

      .text {
        padding-bottom: 16px;
        display: none;
      }
    }

    .more {
      font-size: 16px;

      a {
        color: #9E9E9E;

        &:after {
          content: "";
          display: inline-block;
          border-right: 2px solid #9E9E9E;
          border-bottom: 2px solid #9E9E9E;
          width: 7px;
          height: 7px;
          margin-left: 7px;
          transition: all .3s ease;
          transform: rotate(45deg) translate(-2px, -2px);
        }

        &.active {
          &:after {
            transform: rotate(-135deg) translate(-2px, 2px);
          }
        }
      }


    }
  }

  .list-news .item {
    flex-wrap: wrap;

    .info {
      max-width: 100%;
    }

    .img {
      min-width: inherit;
      order: -1;
      width: 100%;

      img {
        max-height: 220px;
        width: 100%;
      }
    }
  }



  .cube-contacts {
    padding-top: 0;
    padding-left: 15px;
    padding-right: 15px;

    a {
      color: #000;
    }

    svg {
      fill: #B37E56;
    }

    .list {
      margin-bottom: 24px;
      padding-bottom: 4px;
      border-bottom: 1px solid #E8E8E8;
    }
  }

  .r-text-contacts {
    display: none;
  }

  .cube-contacts .title {
    color: #855235;
  }

  .hod-list {

    .item {
      flex-wrap: wrap;
    }
  }

  .header-hodrabot {
    margin-bottom: 24px;
  }

  .grafic-hod {
    display: none !important;
  }

  .hod-list .info,
  .hod-list .img {
    width: 100%;
    min-width: 100%;
  }

  .hod-list .img {
    order: -1;
  }


  .burger:hover {
    background: none;
  }

  .bg-img-text {
    height: 320px;
  }

  .modal-nav .langs {
    position: static;
    margin-top: 30px;
  }

  .m-buttons {
    display: none;
  }

  .heading1 {
    font-size: 48px;
  }

  .header {
    background: #000;
    color: #fff;
    padding-top: 13px;
    padding-bottom: 13px;
    position: fixed;

    a {
      color: #fff;
    }

    .soc-list,
    .top-phone {
      display: none;
    }

    .burger {
      padding: 0;
      border: none;
      width: 24px;
      height: initial;
      margin-right: 5px;
      margin-left: 14px;

      span {
        width: 100%;
      }
    }
  }

  .black-header {
    .header {
      background: #fff;
      position: fixed;
    }

    .black-header .burger span {
      background: #855235;
    }

    .mob-btns svg {
      fill: #855235;
    }

    .inner-page {
      padding-top: 120px;
    }

  }

  .header .logo svg {
    height: 48px;
    width: 80px;
  }

  .mob-btns {
    display: flex;
    align-items: center;
    margin-bottom: -3px;

    a {
      margin: 0 13px;
      display: block;
    }

    svg {
      width: 18px;
      height: 18px;
      fill: #fff;
    }

    .phone-btn2 {
      transform: scale(1.15);
      margin-top: 3px;
    }

    .fav-btn {
      display: flex;

      svg {
        fill: #9E9E9E;
      }

      .num {
        width: 20px;
        height: 20px;
        line-height: 20px;
        border-radius: 50%;
        color: #F5F5F5;
        font-size: 12px;
        background: #414141;
        display: block;
        text-align: center;
        margin-left: 5px;
      }
    }
  }

  .main-text-list .owl-next,
  .main-text-list .owl-prev {
    position: static;
  }

  .main-text-list {
    .owl-nav {
      position: absolute;
      bottom: 75px;
      left: 50%;
      transform: translate(-50%);

      >* {
        margin: 0 22px;
      }
    }

    .owl-item {
      //  height: calc(var(--vh, 1vh) * 100);
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .main-text-list,
  .section {
    margin-bottom: 50px;
  }

  .heading2 {
    font-size: 32px;
  }

  .text1 {
    font-size: 18px;
  }

  .heading2.line-b {
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  .list-text-img .img {
    margin-bottom: 30px;
  }

  .list-text-img .list-wrap .list .items {
    display: block;
  }

  .list-text-img .list-wrap .list .items .item {
    max-width: 100%;
    margin-bottom: 32px;
    text-align: center;
  }

  .list-text-img .list-wrap .title {
    font-size: 26px;
  }

  .black-box {
    padding: 50px 10px;
    text-align: center;
  }

  .black-box .text-bl {
    display: block;
  }

  .black-box .title2 {
    max-width: 100%;
  }

  .black-box .list {
    margin-bottom: 20px;
  }

  .footer {
    text-align: center;
  }

  .f-contact {
    display: block;
  }

  .f-contact>div {
    width: 100%;
    max-width: 100%;
  }

  .copy {
    position: static;
    margin-top: 24px;
  }

  .f-phone {
    margin-bottom: 24px;
  }

  .inner-heading .h1 {
    font-size: 32px;
  }

  .item-text {
    text-align: center;
  }

  .item-nums {
    margin-top: 30px;
    text-align: center;
    max-width: 290px;
    margin-left: auto;
    margin-right: auto;

    .item {
      margin: 0 0 32px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .num {
      font-size: 40px;
    }
  }

  .main-text-bottom {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .inner-heading:before {
    width: 40px;
  }

  .inner-text {
    font-size: 18px;
  }

  .item-text .btn {
    margin-top: 24px;
  }

  .inner-bg {
    margin-bottom: 36px;
  }


  .list-hod {
    .item {
      img {
        min-height: 220px;
        object-fit: cover;
      }
    }
  }

  .table-flats .fav {
    margin-right: 5px;
  }

  .section-fl-pad {
    padding-bottom: 0;
  }

  .filtr {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #F7F7F7;
    z-index: 300;
    padding: 16px;
    padding-bottom: 66px;
    bottom: 0;
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
    transform: translate(0, 30px);

    &.active {
      opacity: 1;
      visibility: visible;
      transform: translate(0, 0);
    }
  }

  .row-filtr-slider>div,
  .filtr .item-select {
    width: 100%;
    min-width: 100%;
  }

  .close-fitr {
    text-align: center;
    margin-bottom: 36px;

    &:before {
      line-height: 1;
      content: "\00d7";
      height: 39px;
      display: inline-block;
      font-size: 40px;
      color: #9E9E9E;
    }
  }

  .fix-btn {
    position: fixed;
    bottom: 0;
    display: block;
    text-align: center;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 500;

    &:before {
      height: 780%;
    }
  }

  .fl-info-line .cont-flats,
  .fl-info-line .clear-filtr {
    display: none;
  }

  .fl-info-line {
    padding-top: 0;
    border-top: none;

    .l {
      display: none;
    }

    .r {
      justify-content: space-between;
      width: 100%;
    }
  }

  .hideMax575 {
    display: none;
  }

  .table-flats .fav {
    right: 15px;
  }

  .podbor {
    .table-flats {
      margin-right: -15px;
      margin-left: -25px;

      .row {
        padding-left: 0;

        .col {
          text-align: center;
        }
      }
    }

    .t-head {
      font-size: 12px;

      span {
        white-space: nowrap;
      }
    }
  }

  .wrap-text-slide .text{
    height: 100px;
  }

}

@media (max-width: 460px) {

  .podbor {
    .table-flats .fav {
      margin-right: 0;
    }

    .t-head {
      height: 90px;
      padding-top: 14px;

      .col {
        text-align: left !important;
      }

      span {
        display: block;
        transform: rotate(-90deg);
      }
    }

    .table-flats .row .col {
      padding: 15px 0;
    }
  }

  .section-fl-pad {
    padding-left: 0;
    padding-right: 0;
  }

  .table-flats .row>div {
    padding: 20px 10px;
  }

  .table-flats .row {
    padding-left: 5px;
  }

  .howbuy-list .item {
    padding: 24px 16px;
  }

  .list-news .info {
    padding: 24px 16px;
  }

  .doc-list .item {
    padding: 16px;
  }

  .doc-list .item .ico-doc {
    margin-right: 12px;
  }

  .doc-list .item .l {
    align-items: center;
  }

  .heading3-dh {
    margin-bottom: 32px;
  }

  .hod-list .info {
    padding: 16px;
  }

  .bg-img-text {
    padding: 20px;
  }

  .heading25 {
    font-size: 28px;
  }

  .heading3 {
    font-size: 26px;
  }

  .b-close .fancybox-slide--html {
    padding: 0;

    .fancybox-content {
      width: 100%;
    }
  }

  .wrap-text-slide {
    width: 100%;
    position: relative;
    text-align: center;
    bottom: -100px;
    padding: 24px;
  }

  .main-bg {
    display: block;
    height: 350px;
    margin-bottom: 180px;
  }

  .wrap-text-slide .title {
    font-size: 28px;
  }

  .s-nav {
    top: inherit;
    right: 0;
    left: 0;
    justify-content: center;
    bottom: -50px;
  }

  .flat-grid {
    justify-content: center;
    grid-template-columns: none;
    grid-template-areas: "f-back"
      "f-btns"
      "f-img"
      "f-info"
      "f-price-btns"
      "f-links";

    .f-info {
      justify-self: center;
    }

    .img {
      max-width: 300px;
    }
  }

  .mob-nome {
    display: none;
  }

  .sort-type-list {
    margin-left: 0;
  }
}

@media (max-width: 400px) {
  .fl-sort{
    margin-left: -12px;
    .t{
      display: none;
    }
  
  }
  .heading1 {
    font-size: 40px;
  }

  .modal-nav .nav-row ul {
    font-size: 20px;
  }

  .podbor .table-flats .row .col {
    font-size: 12px;
  }



}

@media (max-width: 374px) {}

@media (max-width: 360px) {}
