@media (max-width: 767px) {



  .inner-text {
    font-size: 22px;
  }

  .main-img .text p {
    display: none;
  }

  .modal-nav .modal-content {
    padding: 68px 32px;
  }

  .modal-nav .nav-row ul {
    font-size: 20px;
  }

  .modal-nav .nav-row ul ul {
    font-size: 14px;
    padding-left: 12px;
  }

  .b-close .fancybox-close-small {
    border: none;
    top: 15px;
    right: 15px;
  }

  .inner-heading {
    left: 0;
    transform: none;
    width: 100%;
  }

  .row-pb {
    .item-text {
      margin-bottom: 30px;
    }

    >div {
      &:last-child {
        .item-text {
          margin-bottom: 0;
        }

      }
    }

  }

  .row-pb>div.col-img {
    margin-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .w100-img img {
    min-height: 320px;
    object-fit: cover;
  }

  .heading25 {
    font-size: 36px;
  }
}

@media (min-width: 576px) {
  .mob-btns {
    display: none;
  }

}

@media (max-width: 575px) {

  .bg-img-text{
    height: 320px;
  }
  .modal-nav .langs {
    position: static;
    margin-top: 30px;
  }

  .m-buttons {
    display: none;
  }

  .heading1 {
    font-size: 48px;
  }

  .header {
    background: #000;
    color: #fff;
    padding-top: 13px;
    padding-bottom: 13px;
    position: fixed;

    a {
      color: #fff;
    }

    .soc-list,
    .top-phone {
      display: none;
    }

    .burger {
      padding: 0;
      border: none;
      width: 24px;
      height: initial;
      margin-right: 5px;
      margin-left: 14px;

      span {
        width: 100%;
      }
    }
  }

  .header .logo svg {
    height: 48px;
    width: 80px;
  }

  .mob-btns {
    display: flex;
    align-items: center;
    margin-bottom: -3px;

    a {
      margin: 0 13px;
      display: block;
    }

    svg {
      width: 18px;
      height: 18px;
      fill: #fff;
    }

    .phone-btn2 {
      transform: scale(1.15);
      margin-top: 3px;
    }

    .fav-btn {
      display: flex;

      svg {
        fill: #9E9E9E;
      }

      .num {
        width: 20px;
        height: 20px;
        line-height: 20px;
        border-radius: 50%;
        color: #F5F5F5;
        font-size: 12px;
        background: #414141;
        display: block;
        text-align: center;
        margin-left: 5px;
      }
    }
  }

  .main-text-list .owl-next,
  .main-text-list .owl-prev {
    position: static;
  }

  .main-text-list {
    .owl-nav {
      position: absolute;
      bottom: 30px;
      left: 50%;
      transform: translate(-50%);

      >* {
        margin: 0 22px;
      }
    }

    .owl-item {
      height: calc(var(--vh, 1vh) * 100);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .main-text-list,
  .section {
    margin-bottom: 50px;
  }

  .heading2 {
    font-size: 32px;
  }

  .text1 {
    font-size: 18px;
  }

  .heading2.line-b {
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  .list-text-img .img {
    margin-bottom: 30px;
  }

  .list-text-img .list-wrap .list .items {
    display: block;
  }

  .list-text-img .list-wrap .list .items .item {
    max-width: 100%;
    margin-bottom: 32px;
    text-align: center;
  }

  .list-text-img .list-wrap .title {
    font-size: 26px;
  }

  .black-box {
    padding: 50px 10px;
    text-align: center;
  }

  .black-box .text-bl {
    display: block;
  }

  .black-box .title2 {
    max-width: 100%;
  }

  .black-box .list {
    margin-bottom: 20px;
  }

  .footer {
    text-align: center;
  }

  .f-contact {
    display: block;
  }

  .f-contact>div {
    width: 100%;
    max-width: 100%;
  }

  .copy {
    position: static;
    margin-top: 24px;
  }

  .f-phone {
    margin-bottom: 24px;
  }

  .inner-heading .h1 {
    font-size: 32px;
  }

  .item-text {
    text-align: center;
  }

  .item-nums {
    margin-top: 30px;
    text-align: center;
    max-width: 290px;
    margin-left: auto;
    margin-right: auto;

    .item {
      margin: 0 0 32px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .num {
      font-size: 40px;
    }
  }

  .main-text-bottom {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .inner-heading:before {
    width: 40px;
  }

  .inner-text {
    font-size: 18px;
  }

  .item-text .btn {
    margin-top: 24px;
  }

  .inner-bg {
    margin-bottom: 36px;
  }


}

@media (max-width: 460px) {

  .bg-img-text{
    padding: 20px;
  }

  .heading25 {
    font-size: 28px;
  }

  .heading3 {
    font-size: 26px;
  }

  .b-close .fancybox-slide--html {
    padding: 0;

    .fancybox-content {
      width: 100%;
    }
  }

  .main-bg .wrap-text-slide {
    width: 100%;
    position: relative;
    text-align: center;
    bottom: -290px;
    padding: 24px;
  }

  .main-bg {
    display: block;
    height: 350px;
    margin-bottom: 180px;
  }

  .main-bg .wrap-text-slide .title {
    font-size: 28px;
  }

  .s-nav {
    top: inherit;
    right: 0;
    left: 0;
    justify-content: center;
    bottom: -50px;
  }
}

@media (max-width: 400px) {
  .heading1 {
    font-size: 40px;
  }



}

@media (max-width: 374px) {}

@media (max-width: 360px) {}
