@media all and (max-width: 1200px) and (min-width: 768px) {}

@media all and (max-width: 1400px) and (min-width: 1100px) {
  .floor-page.def-page {
    .inner-page {
      padding-left: 30px;
      padding-right: 30px;
    }

    .header {
      margin-bottom: 50px;
    }
  }

  .floor-img .img {
    max-width: 500px;
  }

  .floor-header {
    margin-bottom: 0;
  }

  .floor-center {
    margin-bottom: 40px;
  }
}

@media (min-width: 560px) {}

@media (min-width: 768px) {}

@media (min-width: 991px) {}



@media (min-width: 1360px) {}

@media (max-width: 1440px) {
  .heading1 {
    font-size: 64px;
  }

  .main-img .text {
    font-size: 24px;
  }

  .heading2 {
    font-size: 44px;
  }

  .text1 {
    font-size: 24px;
  }

  .main-text-list {
    margin-bottom: 80px;
  }

  .section {
    margin-bottom: 70px;
  }

  .main-bg {
    height: 600px;
  }

  .modal-nav .modal-content {
    padding: 80px;
  }

  .modal-nav .nav-row ul {
    font-size: 28px;
  }

  .f-phone a {
    font-size: 32px;
  }

  .black-box {
    padding: 96px;
  }

  .footer {
    padding: 48px 0;
  }

  .wrap-text-slide .title {
    font-size: 36px;
  }

  .inner-heading .h1 {
    font-size: 44px;
  }

  .inner-heading {
    padding: 56px;
  }

  .floor-img img {
    max-height: 420px;
  }
}

@media (max-width: 1390px) {
  .floor-img img {
    max-height: 390px;
  }

  .floor-img .svg .label {
    transform: translate(-5px, -10px) scale(.9);
  }

  .floor-nums .item .num {
    font-size: 32px;
  }

  .floor-center {
    margin-bottom: 15px;
  }
}

@media (max-width: 1360px) {
  body {
    font-size: 14px;
  }

  .heading1 {
    font-size: 58px;
  }

  .main-img .text {
    font-size: 20px;
  }

  .main-img .main-text {
    max-width: 700px;
  }

  .heading2 {
    font-size: 40px;
  }

  .text1 {
    font-size: 22px;
  }

  .modal-nav .modal-content {
    padding: 70px;
  }

  .modal-nav .nav-row ul {
    font-size: 26px;
  }

  .f-phone a {
    font-size: 30px;
  }

  .black-box {
    padding: 70px 90px;
  }

  .main-text-bottom {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .wrap-text-slide .text {
    font-size: 17px;
  }

  .wrap-text-slide {
    padding: 40px;
  }

  .wrap-text-slide {
    width: 400px;
  }

  .black-box .num {
    font-size: 40px;
  }

  .row-pb>div {
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
  }

  .row-pb .col-bg {
    background: none;
  }

  .item-text .text {
    font-size: 15px;
  }

  .item-text {
    max-width: 400px;
    margin-bottom: 30px;
  }

  .row-fix-mb {
    margin-bottom: -30px;
  }

  .w100-img {
    margin-left: -15px;
    margin-right: -15px;
  }

  .list-hod .ico svg {
    width: 120px;
    height: 120px;
  }

}

@media (max-height: 645px) {
  .modal-nav .modal-content {
    padding: 50px 70px;
  }
}

@media (max-width: 1440px) and (min-width: 991px) {}

@media (max-width: 1300px) {

  .filtr .item-select {
    min-width: 18%;
    //  width: 20%;
  }
}


@media (max-width: 1340px) {}

@media (min-width: 1200px) {
  .mob-select-object {
    display: none;
  }
}

@media (max-width: 1200px) {

  .pobor-head-line{
    text-align: center;
      flex-wrap: wrap;
      justify-content: center;
    .links{
      order: -1;
      margin-bottom: 30px;
    }
    .heading25{
      width: 100%;
    }
  }

  .mask-visual,
  .mask-anim {
    display: none !important;
  }

  .cube-contacts {
    padding: 40px;
    padding-top: 38px;
  }

  .cube-contacts .title {
    font-size: 30px;
  }

  .modal-nav .modal-bg {
    display: none;
  }

  .modal-nav .modal-content {
    width: 100%;
  }

  .list-text-img {
    flex-wrap: wrap;

    >div {
      width: 100%;
      max-width: 100%;
      min-width: 100%;
    }

    .img {
      order: -1;
      margin-bottom: 50px;
      max-height: 500px;

      img,
      picture {
        width: 100%;
      }
    }
  }

  .list-text-img .list-wrap .list {
    max-width: 100%;

    .items {
      display: flex;
      justify-content: space-around;

      .item {
        max-width: 43%;
        margin-bottom: 44px;
      }
    }

    .btns {
      text-align: center;
    }
  }

  .header .logo {
    margin-right: 20px;
  }

  .burger {
    margin-left: 32px;
  }

  .header .main-nav li {
    margin: 0 10px;
    font-size: 13px;
  }

  .header .logo svg {
    width: 93px;
    height: 56px;
  }





  .inner-heading {
    width: 768px;
  }


  .inner-heading .h1 {
    font-size: 38px;

  }

  .inner-heading {
    padding: 40px;
  }

  .news-one .heading25 {
    font-size: 36px;
  }

  .def-page .header {
    margin-bottom: 64px;
    padding-top: 16px;
  }

  .howbuy-list .text {
    padding-left: 0;
  }

  .flat-grid {
    grid-template-columns: minmax(300px, 1fr) minmax(300px, 2fr) minmax(300px, 1fr);
  }


  .visual {
    min-height: auto;
  }

  .visual-wrap {
    position: relative;
    left: 0;
    top: 0;
    transform: none;
  }

  .v-plan .lb {
    transform: scale(.8) translate(0, -50%);
  }

  .visual-footer .heading2 {
    br {
      //  display: none;
    }
  }

  .visual-footer {
    padding-left: 33px;
  }

  .wrap-tooltip {
    display: none !important;
  }

  .page-visual {
    .header {
      margin-bottom: 40px;
    }
  }

  .mob-select-object {
    background: #fff;
    display: flex;
    border-bottom: 1px solid #E5E0DC;
    letter-spacing: -0.01em;

    >* {
      padding: 5px 24px;
      width: 25%;
      max-width: 25%;
      border-right: 1px solid #E5E0DC;
      height: 72px;
      display: flex;
      align-items: center;
    }

    .arr-l,
    .arr-r {
      position: absolute;
      width: 25px;
      height: 25px;
      cursor: pointer;

      &:before {
        position: relative;
        content: "";
        display: block;
        width: 11px;
        height: 11px;
        border-right: 2px solid #B27E56;
        border-bottom: 2px solid #B27E56;
        top: 50%;
      }

      &.dis {
        opacity: .5;
      }
    }

    .arr-l {
      left: 10%;

      &:before {
        transform: translate(0, -50%) rotate(135deg);
        margin-left: 4px;
      }

    }

    .arr-r {
      right: 10%;

      &:before {
        transform: translate(0, -50%) rotate(-45deg);
        margin-left: 8px;
      }

    }

    .col-ob {
      justify-content: space-between;
      position: relative;
    }

    .val {
      font-size: 32px;
      color: #855235;
      margin-left: 8px;
    }

    .col-nav {
      padding-left: 6%;
      padding-right: 6%;
    }

    .t {}

    .col-btn {
      color: #fff;
      background: #845235;
      font-size: 13px;
      text-transform: uppercase;
      text-align: center;
      justify-content: center;
      border-right: none;

      >span {
        display: flex;

        &:before {
          content: "";
          height: 11px;
          width: 5px;
          display: block;
          margin-right: 16px;
          transform: rotate(45deg);
          border-right: 1px solid #fff;
          border-bottom: 1px solid #fff;
        }
      }
    }
  }

  .v-plan svg polygon:hover,
  .v-plan svg path:hover {
    opacity: 0;
  }



  .noanim {
    .v-plan svg {

      polygon,
      path {
        &.active {
          opacity: 1 !important;
        }
      }
    }
  }

  .ico-360{
    display: none;
  }

}


@media (max-width: 900px) and (min-width: 768px) {
  .cube-contacts {
    padding: 35px 20px;
  }
}

@media (max-width: 1040px) {
  .row-filtr-select {
    justify-content: center;
    flex-wrap: wrap;
  }

  .filtr .item-select {
    min-width: 33.3%;
    width: 33.3%;
  }
}

@media all and (max-width: 1300px) and (min-width: 1200px) {}

@media all and (max-width: 1200px) and (min-width: 768px) {
  .list-news .img {
    min-width: 40%;
    width: 40%;
  }
}
