@media (min-width: 991px) {
  .help-swipe {
    display: none;
  }
}

@media (max-width: 991px) {
  .header .main-nav {
    display: none;
  }

  .black-box {
    padding: 70px 48px;
    margin-bottom: 0;

    .text {
      font-size: 16px;

      br {
        display: none;
      }
    }

    .text-bl {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .black-box .list {
    margin-bottom: 48px;
  }

  .black-box .title2 {
    margin-bottom: 0;
    max-width: 50%;

    br {
      display: none;
    }
  }

  .main-bg {
    height: 480px;
  }

  .heading3 {
    font-size: 30px;
  }

  .footer .f-nav {
    display: none;
  }

  .footer .footer-line1 {
    display: block;
  }

  .f-contact {
    display: flex;

    >div {
      width: 50%;
      min-width: 50%;
    }
  }

  .footer {
    padding: 48px 30px;

    .container {
      position: relative;
    }
  }


  .modal-nav .modal-content {
    padding: 68px 50px;
  }

  .f-phone a {
    font-size: 25px;
  }

  .modal-nav .row-contacts .adr {
    font-size: 14px;
  }

  .modal-nav .nav-row ul {
    font-size: 24px;
  }

  .hod-list .info,
  .hod-list .img {
    width: 50%;
  }

  .hod-list .info {
    padding: 32px;
  }

  .doc-list .item {
    padding: 32px;
  }

  .doc-list .item svg {
    width: 18px;
    height: 18px;
  }


  .item-text .title {
    font-size: 26px;
    margin-bottom: 16px;
  }

  .item-nums {
    display: block;

    .item {
      max-width: 100%;
      margin-bottom: 20px;
    }

    .num {
      font-size: 50px;
    }
  }

  .inner-heading {
    width: 672px;
  }

  .bg-img-text {
    margin-left: -15px;
    margin-right: -15px;
  }

  .contact-map {
    margin-top: 0;
  }

  .r-text-contacts>div {
    transform: none;
  }

  .news-one .heading25 {
    font-size: 28px;
    margin-bottom: 24px;
  }

  .new-img {
    margin-bottom: 32px;
  }

  .new-img .list-hod .owl-nav {
    position: static;
    margin-top: 16px;
    transform: translate(0);
    text-align: center;
  }

  .howbuy-list .item {
    padding-left: 32px;
    padding-right: 32px;
  }

  .howbuy-list {

    .title,
    .introtext {
      max-width: 220px;
    }
  }

  .podbor {
    .heading25 {
      text-align: center;
    }
  }

  .row-filtr-slider {
    flex-wrap: wrap;

    >div {
      min-width: 50%;
      width: 50%;
    }
  }

  .fl-rooms {
    justify-content: center;
  }

  .fl-info-line {
    position: relative;
    padding-top: 68px;

    .clear-filtr {
      position: absolute;
      top: 20px;
      left: 50%;
      transform: translate(-50%);
    }
  }

  .flat-grid {
    padding-left: 17px;
    padding-right: 17px;
    grid-template-columns: minmax(250px, 1fr) minmax(200px, 1fr);
    grid-gap: 32px;
    grid-template-areas:
      "f-back f-btns"
      "f-info f-img"
      "f-price-btns f-price-btns"
      "f-links f-links";


  }

  .flat-grid .f-back {
    //   justify-content: center;
    align-self: center;
    // display: flex;
  }

  .f-info {
    justify-self: flex-start;
  }

  .w-price .price {
    font-size: 22px;
  }

  .f-cl1 {
    display: none;
  }

  .flat-btns,
  .flat-grid .img {
    margin-bottom: 0;
  }

  .flat-grid .img img {
    max-height: 300px;
  }

  .section-fl-pad {
    padding-left: 48px;
    padding-right: 48px;
  }

  .mob-select-object>* {
    padding-left: 16px;
    padding-right: 16px;
  }

  .mob-select-object .val {
    font-size: 28px;
  }

  .visual-wrap {
    overflow-x: auto;
  }

  .visual .img-plan img {
    width: inherit;
    height: calc(100vh - 189px);
  }

  .v-plan .rk {
    display: inline-block;
  }



  .visual {}

  .floor-center {
    flex-wrap: wrap;
    justify-content: space-around;

    .floor-img {
      order: -1;
      width: 100%;
      margin-bottom: 60px;
    }
  }

  .floor-footer {

    //  display: none;
    .floor-nums {
      display: none;
    }

    .heading2 {
      text-align: center;
      width: 100%;

      br {
        display: none;
      }
    }
  }

  .floor-footer .f-empty {
    display: none;
  }

  .floor-header {
    margin-bottom: 70px;
  }

  .help-swipe {
    align-items: center;
    justify-content: center;
    background: rgba(35, 37, 40, 0.6);
    display: flex;
    height: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    transition: all 1s ease 2s;
    width: 100%;
    z-index: 100;
    pointer-events: none;
    &.load{
      opacity: 0;
      visibility: hidden;
    }

    img {
      animation: helpSwipe .8s ease infinite alternate;
      display: inline-block;
      transform-origin: center center;
      opacity: 0.7;
    }
  }

}



@media (max-width: 1024px) and (min-width: 576px) {
  .inner-page {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 991px) and (min-width: 576px) {
  .m-flex {
    display: flex;
    justify-content: center;
    align-items: center;

    >* {
      margin-left: 16px;
      margin-right: 16px;
    }
  }
}
